PREGUNTA 1, 2
1. Importa las librerías requeridas.
2. Lee el archivo CSV llamado **empleadosRETO.csv** y coloca los datos en un frame de Pandas llamado EmpleadosAttrition.

In [4]:
import pandas as pd
EmpleadosAttrition = pd.read_csv("empleadosRETO.csv")
EmpleadosAttrition

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,...,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition
0,50,Travel_Rarely,Research & Development,1 km,2,Medical,1,997,4,Male,...,22,4,3,80,32,1,2,4,1,No
1,36,Travel_Rarely,Research & Development,6 km,2,Medical,1,178,2,Male,...,20,4,4,80,7,0,3,2,0,No
2,21,Travel_Rarely,Sales,7 km,1,Marketing,1,1780,2,Male,...,13,3,2,80,1,3,3,0,1,Yes
3,52,Travel_Rarely,Research & Development,7 km,4,Life Sciences,1,1118,2,Male,...,19,3,4,80,18,4,3,6,4,No
4,33,Travel_Rarely,Research & Development,15 km,1,Medical,1,582,2,Male,...,12,3,4,80,15,2,4,6,7,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,14 km,3,Medical,1,325,3,Male,...,13,3,3,80,8,2,1,4,0,Yes
396,31,Travel_Rarely,Sales,20 km,3,Life Sciences,1,175,2,Female,...,11,3,3,80,4,2,3,2,2,Yes
397,37,Travel_Frequently,Research & Development,11 km,3,Other,1,306,2,Male,...,14,3,3,80,10,1,3,8,0,No
398,38,Travel_Rarely,Research & Development,4 km,2,Medical,1,1687,4,Female,...,19,3,4,80,7,5,2,0,0,No
399,33,Travel_Rarely,Research & Development,14 km,3,Medical,1,252,4,Female,...,13,3,4,80,8,5,3,7,1,No

PREGUNTA 3
3. Elimina las columnas que, con alta probabilidad (estimada por ti), no tienen relación alguna con la salida. Hay algunas columnas que contienen información que no ayuda a definir el desgaste de un empleado, tal es caso de las siguientes:

A) **EmployeeCount**: número de empleados, todos tienen un 1

B) **EmployeeNumber**: ID del empleado, el cual es único para cada empleado

C) **Over18**: mayores de edad, todos dicen “Y”

D) **StandardHours**: horas de trabajo, todos tienen “80”

Nota: No borré mas columnas por estimar que podría requerir una en un futuro.

In [5]:
EmpleadosAttrition = EmpleadosAttrition.drop(columns=['EmployeeCount', 'EmployeeNumber','Over18', 'StandardHours' ])
EmpleadosAttrition

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition
0,50,Travel_Rarely,Research & Development,1 km,2,Medical,4,Male,3,4,...,No,22,4,3,32,1,2,4,1,No
1,36,Travel_Rarely,Research & Development,6 km,2,Medical,2,Male,3,2,...,No,20,4,4,7,0,3,2,0,No
2,21,Travel_Rarely,Sales,7 km,1,Marketing,2,Male,3,1,...,No,13,3,2,1,3,3,0,1,Yes
3,52,Travel_Rarely,Research & Development,7 km,4,Life Sciences,2,Male,3,3,...,No,19,3,4,18,4,3,6,4,No
4,33,Travel_Rarely,Research & Development,15 km,1,Medical,2,Male,3,3,...,Yes,12,3,4,15,2,4,6,7,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,14 km,3,Medical,3,Male,3,1,...,Yes,13,3,3,8,2,1,4,0,Yes
396,31,Travel_Rarely,Sales,20 km,3,Life Sciences,2,Female,1,2,...,Yes,11,3,3,4,2,3,2,2,Yes
397,37,Travel_Frequently,Research & Development,11 km,3,Other,2,Male,3,3,...,Yes,14,3,3,10,1,3,8,0,No
398,38,Travel_Rarely,Research & Development,4 km,2,Medical,4,Female,3,1,...,No,19,3,4,7,5,2,0,0,No
399,33,Travel_Rarely,Research & Development,14 km,3,Medical,4,Female,3,1,...,No,13,3,4,8,5,3,7,1,No

PREGUNTA 4,5
4. Analiza la información proporcionada, si detectaste que no se cuenta con los años que el empelado lleva en la compañía y parece ser un buen dato. Dicha cantidad se puede calcular con la fecha de contratación **‘HiringDate’**.
5. Crea una columna llamada **Year** y obtén el año de contratación del empleado a partir de su fecha **‘HiringDate’**. No se te olvide que debe ser un entero.

In [6]:
EmpleadosAttrition['HiringDate'] = pd.to_datetime(EmpleadosAttrition['HiringDate'], format='mixed', errors = 'coerce')
EmpleadosAttrition

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition
0,50,Travel_Rarely,Research & Development,1 km,2,Medical,4,Male,3,4,...,No,22,4,3,32,1,2,4,1,No
1,36,Travel_Rarely,Research & Development,6 km,2,Medical,2,Male,3,2,...,No,20,4,4,7,0,3,2,0,No
2,21,Travel_Rarely,Sales,7 km,1,Marketing,2,Male,3,1,...,No,13,3,2,1,3,3,0,1,Yes
3,52,Travel_Rarely,Research & Development,7 km,4,Life Sciences,2,Male,3,3,...,No,19,3,4,18,4,3,6,4,No
4,33,Travel_Rarely,Research & Development,15 km,1,Medical,2,Male,3,3,...,Yes,12,3,4,15,2,4,6,7,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,14 km,3,Medical,3,Male,3,1,...,Yes,13,3,3,8,2,1,4,0,Yes
396,31,Travel_Rarely,Sales,20 km,3,Life Sciences,2,Female,1,2,...,Yes,11,3,3,4,2,3,2,2,Yes
397,37,Travel_Frequently,Research & Development,11 km,3,Other,2,Male,3,3,...,Yes,14,3,3,10,1,3,8,0,No
398,38,Travel_Rarely,Research & Development,4 km,2,Medical,4,Female,3,1,...,No,19,3,4,7,5,2,0,0,No
399,33,Travel_Rarely,Research & Development,14 km,3,Medical,4,Female,3,1,...,No,13,3,4,8,5,3,7,1,No

In [7]:
EmpleadosAttrition[EmpleadosAttrition['HiringDate'].isnull()]

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition
229,36,Travel_Rarely,Sales,11 km,4,Marketing,2,Female,2,2,...,No,13,3,1,8,2,2,3,0,No

In [8]:
print(EmpleadosAttrition.loc[229, 'HiringDate'])

NaT

In [9]:
EmpleadosAttrition['Year'] = EmpleadosAttrition['HiringDate'].dt.year
EmpleadosAttrition

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,Year
0,50,Travel_Rarely,Research & Development,1 km,2,Medical,4,Male,3,4,...,22,4,3,32,1,2,4,1,No,2013.0
1,36,Travel_Rarely,Research & Development,6 km,2,Medical,2,Male,3,2,...,20,4,4,7,0,3,2,0,No,2015.0
2,21,Travel_Rarely,Sales,7 km,1,Marketing,2,Male,3,1,...,13,3,2,1,3,3,0,1,Yes,2017.0
3,52,Travel_Rarely,Research & Development,7 km,4,Life Sciences,2,Male,3,3,...,19,3,4,18,4,3,6,4,No,2010.0
4,33,Travel_Rarely,Research & Development,15 km,1,Medical,2,Male,3,3,...,12,3,4,15,2,4,6,7,Yes,2011.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,14 km,3,Medical,3,Male,3,1,...,13,3,3,8,2,1,4,0,Yes,2013.0
396,31,Travel_Rarely,Sales,20 km,3,Life Sciences,2,Female,1,2,...,11,3,3,4,2,3,2,2,Yes,2016.0
397,37,Travel_Frequently,Research & Development,11 km,3,Other,2,Male,3,3,...,14,3,3,10,1,3,8,0,No,2008.0
398,38,Travel_Rarely,Research & Development,4 km,2,Medical,4,Female,3,1,...,19,3,4,7,5,2,0,0,No,2018.0
399,33,Travel_Rarely,Research & Development,14 km,3,Medical,4,Female,3,1,...,13,3,4,8,5,3,7,1,No,2010.0

In [10]:
print(EmpleadosAttrition.loc[229, 'Year'])

nan

In [11]:
EmpleadosAttrition[EmpleadosAttrition['Year'].isnull()]

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,Year
229,36,Travel_Rarely,Sales,11 km,4,Marketing,2,Female,2,2,...,13,3,1,8,2,2,3,0,No,NaN

In [12]:
EmpleadosAttrition['Year'] = EmpleadosAttrition['Year'].fillna(0).astype(int)

In [13]:
EmpleadosAttrition['Year'].dtypes

dtype('int64')

PREGUNTA 6
6. Crea una columna llamada YearsAtCompany que contenga los años que el empleado lleva en la compañía hasta el año 2018. Para su cálculo, usa la variable Year que acabas de crear.

In [14]:
EmpleadosAttrition['YearsAtCompany'] = 2018 - EmpleadosAttrition['Year']
EmpleadosAttrition

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,Year,YearsAtCompany
0,50,Travel_Rarely,Research & Development,1 km,2,Medical,4,Male,3,4,...,4,3,32,1,2,4,1,No,2013,5
1,36,Travel_Rarely,Research & Development,6 km,2,Medical,2,Male,3,2,...,4,4,7,0,3,2,0,No,2015,3
2,21,Travel_Rarely,Sales,7 km,1,Marketing,2,Male,3,1,...,3,2,1,3,3,0,1,Yes,2017,1
3,52,Travel_Rarely,Research & Development,7 km,4,Life Sciences,2,Male,3,3,...,3,4,18,4,3,6,4,No,2010,8
4,33,Travel_Rarely,Research & Development,15 km,1,Medical,2,Male,3,3,...,3,4,15,2,4,6,7,Yes,2011,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,14 km,3,Medical,3,Male,3,1,...,3,3,8,2,1,4,0,Yes,2013,5
396,31,Travel_Rarely,Sales,20 km,3,Life Sciences,2,Female,1,2,...,3,3,4,2,3,2,2,Yes,2016,2
397,37,Travel_Frequently,Research & Development,11 km,3,Other,2,Male,3,3,...,3,3,10,1,3,8,0,No,2008,10
398,38,Travel_Rarely,Research & Development,4 km,2,Medical,4,Female,3,1,...,3,4,7,5,2,0,0,No,2018,0
399,33,Travel_Rarely,Research & Development,14 km,3,Medical,4,Female,3,1,...,3,4,8,5,3,7,1,No,2010,8

In [15]:
EmpleadosAttrition['YearsAtCompany'].dtypes

dtype('int64')

PREGUNTA 7,8
7. La **DistanceFromHome** está dada en kilómetros, pero tiene las letras “km” al final y así no puede ser entera.
8. Renombra la variable **DistanceFromHome** a **DistanceFromHome_km**.

In [16]:
EmpleadosAttrition.rename(columns={"DistanceFromHome" : "DistanceFromHome_km"}, inplace=True)
EmpleadosAttrition

,Age,BusinessTravel,Department,DistanceFromHome_km,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,Year,YearsAtCompany
0,50,Travel_Rarely,Research & Development,1 km,2,Medical,4,Male,3,4,...,4,3,32,1,2,4,1,No,2013,5
1,36,Travel_Rarely,Research & Development,6 km,2,Medical,2,Male,3,2,...,4,4,7,0,3,2,0,No,2015,3
2,21,Travel_Rarely,Sales,7 km,1,Marketing,2,Male,3,1,...,3,2,1,3,3,0,1,Yes,2017,1
3,52,Travel_Rarely,Research & Development,7 km,4,Life Sciences,2,Male,3,3,...,3,4,18,4,3,6,4,No,2010,8
4,33,Travel_Rarely,Research & Development,15 km,1,Medical,2,Male,3,3,...,3,4,15,2,4,6,7,Yes,2011,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,14 km,3,Medical,3,Male,3,1,...,3,3,8,2,1,4,0,Yes,2013,5
396,31,Travel_Rarely,Sales,20 km,3,Life Sciences,2,Female,1,2,...,3,3,4,2,3,2,2,Yes,2016,2
397,37,Travel_Frequently,Research & Development,11 km,3,Other,2,Male,3,3,...,3,3,10,1,3,8,0,No,2008,10
398,38,Travel_Rarely,Research & Development,4 km,2,Medical,4,Female,3,1,...,3,4,7,5,2,0,0,No,2018,0
399,33,Travel_Rarely,Research & Development,14 km,3,Medical,4,Female,3,1,...,3,4,8,5,3,7,1,No,2010,8

PREGUNTA 9
9. Crea una nueva variable **DistanceFromHome** que sea entera, es decir, solo con números.

In [17]:
EmpleadosAttrition['DistanceFromHome'] = EmpleadosAttrition['DistanceFromHome_km'].str.replace('km','')
EmpleadosAttrition

,Age,BusinessTravel,Department,DistanceFromHome_km,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,Year,YearsAtCompany,DistanceFromHome
0,50,Travel_Rarely,Research & Development,1 km,2,Medical,4,Male,3,4,...,3,32,1,2,4,1,No,2013,5,1
1,36,Travel_Rarely,Research & Development,6 km,2,Medical,2,Male,3,2,...,4,7,0,3,2,0,No,2015,3,6
2,21,Travel_Rarely,Sales,7 km,1,Marketing,2,Male,3,1,...,2,1,3,3,0,1,Yes,2017,1,7
3,52,Travel_Rarely,Research & Development,7 km,4,Life Sciences,2,Male,3,3,...,4,18,4,3,6,4,No,2010,8,7
4,33,Travel_Rarely,Research & Development,15 km,1,Medical,2,Male,3,3,...,4,15,2,4,6,7,Yes,2011,7,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,14 km,3,Medical,3,Male,3,1,...,3,8,2,1,4,0,Yes,2013,5,14
396,31,Travel_Rarely,Sales,20 km,3,Life Sciences,2,Female,1,2,...,3,4,2,3,2,2,Yes,2016,2,20
397,37,Travel_Frequently,Research & Development,11 km,3,Other,2,Male,3,3,...,3,10,1,3,8,0,No,2008,10,11
398,38,Travel_Rarely,Research & Development,4 km,2,Medical,4,Female,3,1,...,4,7,5,2,0,0,No,2018,0,4
399,33,Travel_Rarely,Research & Development,14 km,3,Medical,4,Female,3,1,...,4,8,5,3,7,1,No,2010,8,14

In [18]:
EmpleadosAttrition['DistanceFromHome'].dtypes

dtype('O')

In [19]:
EmpleadosAttrition['DistanceFromHome'] = EmpleadosAttrition['DistanceFromHome'].astype(int)

In [20]:
EmpleadosAttrition['DistanceFromHome'].dtypes

dtype('int64')

PREGUNTA 10

10. Borra las columnas **Year**, **HiringDate** y **DistanceFromHome_km** debido a que ya no son útiles.

In [21]:
EmpleadosAttrition = EmpleadosAttrition.drop(columns=['Year', 'HiringDate','DistanceFromHome_km' ])
EmpleadosAttrition

,Age,BusinessTravel,Department,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,JobRole,...,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,YearsAtCompany,DistanceFromHome
0,50,Travel_Rarely,Research & Development,2,Medical,4,Male,3,4,Research Director,...,4,3,32,1,2,4,1,No,5,1
1,36,Travel_Rarely,Research & Development,2,Medical,2,Male,3,2,Manufacturing Director,...,4,4,7,0,3,2,0,No,3,6
2,21,Travel_Rarely,Sales,1,Marketing,2,Male,3,1,Sales Representative,...,3,2,1,3,3,0,1,Yes,1,7
3,52,Travel_Rarely,Research & Development,4,Life Sciences,2,Male,3,3,Healthcare Representative,...,3,4,18,4,3,6,4,No,8,7
4,33,Travel_Rarely,Research & Development,1,Medical,2,Male,3,3,Manager,...,3,4,15,2,4,6,7,Yes,7,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,3,Medical,3,Male,3,1,Laboratory Technician,...,3,3,8,2,1,4,0,Yes,5,14
396,31,Travel_Rarely,Sales,3,Life Sciences,2,Female,1,2,Sales Executive,...,3,3,4,2,3,2,2,Yes,2,20
397,37,Travel_Frequently,Research & Development,3,Other,2,Male,3,3,Research Director,...,3,3,10,1,3,8,0,No,10,11
398,38,Travel_Rarely,Research & Development,2,Medical,4,Female,3,1,Laboratory Technician,...,3,4,7,5,2,0,0,No,0,4
399,33,Travel_Rarely,Research & Development,3,Medical,4,Female,3,1,Research Scientist,...,3,4,8,5,3,7,1,No,8,14

PREGUNTA 11.

11. Aprovechando los ajustes que se están haciendo, la empresa desea saber si todos los departamentos tienen un ingreso promedio similar. Genera una nuevo frame llamado **SueldoPromedioDepto** que contenga el **MonthlyIncome** promedio por departamento de los empleados y colócalo en una variable llamada **SueldoPromedio**. Esta tabla solo es informativa, no la vas a utilizar en el set de datos que estás construyendo.

In [22]:
SueldoPromedioDepto = EmpleadosAttrition.groupby('Department')['MonthlyIncome'].mean()
SueldoPromedioDepto

Department
Human Resources           6239.888889
Research & Development    6804.149813
Sales                     7188.250000
Name: MonthlyIncome, dtype: float64

In [23]:
SueldoPromedioDepto.name = "SueldoPromedio"
SueldoPromedioDepto

Department
Human Resources           6239.888889
Research & Development    6804.149813
Sales                     7188.250000
Name: SueldoPromedio, dtype: float64

In [24]:
SueldoPromedioDepto.dtypes

dtype('float64')

In [25]:
SueldoPromedioDepto = SueldoPromedioDepto.reset_index()
SueldoPromedioDepto

               Department  SueldoPromedio
0         Human Resources     6239.888889
1  Research & Development     6804.149813
2                   Sales     7188.250000

In [26]:
SueldoPromedioDepto.dtypes

Department         object
SueldoPromedio    float64
dtype: object

PREGUNTA 12.

MÉTODO 1.

12. La variable **MonthlyIncome** tiene un valor numérico muy grande comparada con las otras variables. Escala dicha variable para que tenga un valor entre 0 y 1.

In [27]:
EmpleadosAttrition['MonthlyIncome_minmax'] = (EmpleadosAttrition['MonthlyIncome'] - min(EmpleadosAttrition['MonthlyIncome'])) / (max(EmpleadosAttrition['MonthlyIncome']) - min(EmpleadosAttrition['MonthlyIncome']))
EmpleadosAttrition['MonthlyIncome_minmax']

0      0.864269
1      0.207340
2      0.088062
3      0.497574
4      0.664470
         ...
395    0.075248
396    0.187197
397    0.589327
398    0.121124
399    0.092122
Name: MonthlyIncome_minmax, Length: 400, dtype: float64

PREGUNTA 12.

MÉTODO 2.

12. La variable **MonthlyIncome** tiene un valor numérico muy grande comparada con las otras variables. Escala dicha variable para que tenga un valor entre 0 y 1.

In [28]:
EmpleadosAttrition['MonthlyIncome_minmax'] = (EmpleadosAttrition['MonthlyIncome'] - EmpleadosAttrition['MonthlyIncome'].min()) / ((EmpleadosAttrition['MonthlyIncome'].max()) - EmpleadosAttrition['MonthlyIncome'].min())
EmpleadosAttrition['MonthlyIncome_minmax']

0      0.864269
1      0.207340
2      0.088062
3      0.497574
4      0.664470
         ...
395    0.075248
396    0.187197
397    0.589327
398    0.121124
399    0.092122
Name: MonthlyIncome_minmax, Length: 400, dtype: float64

PREGUNTA 12.

MÉTODO 3.

12. La variable **MonthlyIncome** tiene un valor numérico muy grande comparada con las otras variables. Escala dicha variable para que tenga un valor entre 0 y 1.

In [29]:
EmpleadosAttrition['MonthlyIncome'] = (EmpleadosAttrition['MonthlyIncome'] - min(EmpleadosAttrition['MonthlyIncome'])) / (max(EmpleadosAttrition['MonthlyIncome']) - min(EmpleadosAttrition['MonthlyIncome']))
EmpleadosAttrition['MonthlyIncome']

0      0.864269
1      0.207340
2      0.088062
3      0.497574
4      0.664470
         ...
395    0.075248
396    0.187197
397    0.589327
398    0.121124
399    0.092122
Name: MonthlyIncome, Length: 400, dtype: float64

PREGUNTA 13.

13. Todo parece indicar que las variables categóricas que quedan sí son importantes para obtener la variable de salida. Convierte todas las variables categóricas que quedan a numéricas:

a) **BusinessTravel**

b) **Department**

c) **EducationField**

d) **Gender**

e) **JobRole**

f) **MaritalStatus**

g) **Attrition**

In [30]:
categoricalColumns = EmpleadosAttrition.select_dtypes(include=['object']).columns.tolist()
categoricalColumns

['BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'OverTime',
 'Attrition']

In [31]:
EmpleadosAttrition['BusinessTravel'].unique()

array(['Travel_Rarely', 'Non-Travel', 'Travel_Frequently', nan],
      dtype=object)

In [32]:
EmpleadosAttrition['Department'].unique()

array(['Research & Development', 'Sales', 'Human Resources'], dtype=object)

In [33]:
EmpleadosAttrition['EducationField'].unique()

array(['Medical', 'Marketing', 'Life Sciences', 'Technical Degree',
       'Other', 'Human Resources'], dtype=object)

In [34]:
EmpleadosAttrition['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [35]:
EmpleadosAttrition['JobRole'].unique()

array(['Research Director', 'Manufacturing Director',
       'Sales Representative', 'Healthcare Representative', 'Manager',
       'Sales Executive', 'Laboratory Technician', 'Research Scientist',
       'Human Resources'], dtype=object)

In [36]:
EmpleadosAttrition['MaritalStatus'].unique()

array(['Divorced', 'Single', 'Married', nan], dtype=object)

In [37]:
EmpleadosAttrition['Attrition'].unique()

array(['No', 'Yes'], dtype=object)

In [38]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [39]:
enconder = OneHotEncoder(sparse_output=False)

In [40]:
one_hot_encoded_data = enconder.fit_transform(EmpleadosAttrition[categoricalColumns])

In [41]:
one_hot_df = pd.DataFrame(one_hot_encoded_data, columns=enconder.get_feature_names_out(categoricalColumns))

In [42]:
df_encoded = pd.concat([EmpleadosAttrition, one_hot_df], axis=1)

In [43]:
df_encoded = df_encoded.drop(columns=categoricalColumns, axis=1)
df_encoded

,Age,Education,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,...,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,MaritalStatus_nan,OverTime_No,OverTime_Yes,Attrition_No,Attrition_Yes
0,50,2,4,3,4,4,0.864269,9,22,4,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,36,2,2,3,2,2,0.207340,6,20,4,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,21,1,2,3,1,2,0.088062,1,13,3,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
3,52,4,2,3,3,2,0.497574,7,19,3,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
4,33,1,2,3,3,3,0.664470,7,12,3,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,3,3,3,1,4,0.075248,5,13,3,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
396,31,3,2,1,2,3,0.187197,3,11,3,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
397,37,3,2,3,3,4,0.589327,1,14,3,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
398,38,2,4,3,1,3,0.121124,7,19,3,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
399,33,3,4,3,1,2,0.092122,1,13,3,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0

In [44]:
EmpleadosAttrition = df_encoded

PREGUNTA 14.

14. Ahora debes hacer la evaluación de las variables para quedarte con las mejores. Calcula la correlación lineal de cada una de las variables con respecto al **Attrition**.

In [45]:
EmpleadosAttrition.corr()

,Age,Education,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,...,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,MaritalStatus_nan,OverTime_No,OverTime_Yes,Attrition_No,Attrition_Yes
Age,1.000000,0.199808,-0.006172,0.038652,0.458324,0.001805,0.441068,0.328008,0.003611,0.008326,...,-0.034695,-0.235906,-0.003372,0.089516,-0.108957,0.049951,0.055057,-0.055057,0.212121,-0.212121
Education,0.199808,1.000000,-0.015712,-0.000257,0.006736,-0.028497,0.000496,0.093046,-0.006891,-0.042392,...,0.079862,-0.136711,0.053575,-0.042435,0.009925,-0.055316,0.029049,-0.029049,0.055531,-0.055531
EnvironmentSatisfaction,-0.006172,-0.015712,1.000000,0.018475,-0.055742,-0.005172,-0.049005,0.023108,-0.040235,0.002158,...,-0.065868,-0.045226,0.011568,0.009449,-0.014669,-0.027792,-0.069882,0.069882,0.124327,-0.124327
JobInvolvement,0.038652,-0.000257,0.018475,1.000000,-0.016726,-0.028170,-0.030095,-0.028657,-0.065058,-0.090367,...,-0.015806,-0.001756,-0.045850,0.103672,-0.061005,-0.043604,-0.005414,0.005414,0.166785,-0.166785
JobLevel,0.458324,0.006736,-0.055742,-0.016726,1.000000,0.016500,0.951696,0.166284,0.006128,0.010338,...,0.086838,-0.239694,-0.018765,0.051072,-0.054877,0.063869,0.032124,-0.032124,0.214266,-0.214266
JobSatisfaction,0.001805,-0.028497,-0.005172,-0.028170,0.016500,1.000000,-0.006449,-0.018538,-0.036721,-0.042605,...,0.060764,-0.072162,0.065125,-0.037764,-0.013220,-0.027419,0.030091,-0.030091,0.164957,-0.164957
MonthlyIncome,0.441068,0.000496,-0.049005,-0.030095,0.951696,-0.006449,1.000000,0.173401,0.006342,0.008695,...,0.017301,-0.220020,-0.026641,0.054325,-0.050525,0.061996,0.032385,-0.032385,0.194936,-0.194936
NumCompaniesWorked,0.328008,0.093046,0.023108,-0.028657,0.166284,-0.018538,0.173401,1.000000,0.012509,0.019571,...,-0.030758,-0.125213,0.014955,0.014693,-0.036476,0.023510,0.006881,-0.006881,0.009082,-0.009082
PercentSalaryHike,0.003611,-0.006891,-0.040235,-0.065058,0.006128,-0.036721,0.006342,0.012509,1.000000,0.787967,...,-0.069628,0.015341,-0.050824,0.034205,0.001909,0.034018,0.047851,-0.047851,0.060880,-0.060880
PerformanceRating,0.008326,-0.042392,0.002158,-0.090367,0.010338,-0.042605,0.008695,0.019571,0.787967,1.000000,...,-0.064313,0.008269,-0.044992,-0.041708,0.074205,0.061254,0.044314,-0.044314,0.006471,-0.006471
RelationshipSatisfaction,0.089136,0.074025,-0.035501,0.015154,0.035880,0.006881,0.050449,0.049711,-0.060688,-0.025205,...,0.050059,-0.051244,0.048286,-0.000594,-0.022531,-0.092140,-0.048276,0.048276,0.030945,-0.030945
TotalWorkingYears,0.628271,0.066997,-0.033985,-0.029659,0.753435,-0.006692,0.739958,0.251247,0.066481,0.061010,...,-0.047192,-0.238649,-0.005983,0.081762,-0.085132,-0.001198,0.027569,-0.027569,0.213329,-0.213329
TrainingTimesLastYear,-0.078236,-0.035416,-0.003851,0.004467,-0.018681,-0.023190,-0.030548,-0.076036,-0.005640,-0.042270,...,0.046878,0.062188,0.033025,0.002741,-0.013738,-0.083895,0.057120,-0.057120,0.070884,-0.070884
WorkLifeBalance,0.013865,0.024112,-0.010948,0.013515,0.085577,-0.038488,0.089462,-0.005471,-0.001040,-0.030026,...,-0.005934,0.025176,0.014050,-0.035316,0.041668,-0.063291,0.033254,-0.033254,0.021723,-0.021723
YearsInCurrentRole,0.130490,0.051428,-0.010912,-0.025541,0.396268,0.064629,0.373788,-0.057878,0.079314,0.088413,...,0.102442,-0.160339,0.044210,0.055791,-0.124278,0.080295,0.016504,-0.016504,0.203918,-0.203918
YearsSinceLastPromotion,0.119118,0.039744,-0.009079,-0.032459,0.384208,-0.013571,0.367305,-0.050755,0.079366,0.108768,...,0.056776,-0.086813,0.005928,0.047265,-0.052601,-0.023126,-0.005558,0.005558,0.069000,-0.069000
YearsAtCompany,-0.001000,0.053743,-0.031127,-0.047194,0.023031,0.061592,0.026469,0.015979,-0.030951,-0.020133,...,0.098712,-0.023416,-0.023401,0.055318,-0.038540,-0.003224,0.031061,-0.031061,0.032718,-0.032718
DistanceFromHome,0.014129,0.034886,-0.085616,0.068380,0.019442,-0.006955,-0.004147,0.079252,0.012670,-0.005818,...,-0.028041,-0.068459,0.005878,0.020353,-0.009759,-0.074694,-0.060072,0.060072,-0.052732,0.052732
MonthlyIncome_minmax,0.441068,0.000496,-0.049005,-0.030095,0.951696,-0.006449,1.000000,0.173401,0.006342,0.008695,...,0.017301,-0.220020,-0.026641,0.054325,-0.050525,0.061996,0.032385,-0.032385,0.194936,-0.194936
BusinessTravel_Non-Travel,-0.066922,-0.014981,-0.017601,-0.111339,0.019982,0.058584,0.012843,0.036783,0.045522,0.036437,...,0.033131,-0.015232,0.071830,-0.090002,0.022163,0.038876,0.065352,-0.065352,0.100698,-0.100698
BusinessTravel_Travel_Frequently,-0.013790,-0.030642,-0.036939,0.020533,0.029241,-0.008179,0.006473,-0.130871,0.022659,-0.027520,...,-0.000896,0.069731,0.012072,-0.005903,0.009458,-0.058007,-0.007349,0.007349,-0.035387,0.035387
BusinessTravel_Travel_Rarely,0.061745,0.055044,0.027618,0.051085,-0.020863,-0.026861,0.001328,0.092087,-0.049373,-0.002580,...,-0.009085,-0.067947,-0.056839,0.050466,-0.009086,0.028399,-0.048196,0.048196,-0.042755,0.042755
BusinessTravel_nan,-0.032906,-0.087424,0.074479,0.008884,-0.081666,-0.015505,-0.071001,-0.004755,0.002521,0.016093,...,-0.052598,0.077850,0.002353,0.056384,-0.062287,-0.011308,0.060735,-0.060735,0.044677,-0.044677
Department_Human Resources,0.009565,0.011476,-0.001136,-0.003782,-0.021954,-0.015868,-0.020797,0.087532,0.022725,-0.029693,...,-0.079399,-0.039173,0.072627,0.026007,-0.094025,-0.017069,-0.060646,0.060646,-0.023389,0.023389
Department_Research & Development,0.085686,-0.003211,0.060895,0.000758,-0.063262,-0.016884,-0.030807,0.051699,0.012773,0.026342,...,-0.741505,-0.365834,-0.000994,0.058585,-0.072204,0.031643,-0.042888,0.042888,0.072269,-0.072269
Department_Sales,-0.090350,-0.000409,-0.061665,0.000441,0.071480,0.022286,0.038049,-0.080730,-0.020298,-0.017311,...,0.780779,0.385210,-0.022276,-0.068015,0.103700,-0.026759,0.063133,-0.063133,-0.066116,0.066116
EducationField_Human Resources,0.000425,0.028122,-0.012416,-0.020612,-0.002334,-0.029115,0.002024,0.097044,0.027262,-0.015265,...,-0.069845,-0.034459,0.014285,0.065323,-0.082711,-0.015015,-0.048563,0.048563,-0.043404,0.043404
EducationField_Life Sciences,-0.044136,0.012152,0.009696,-0.025055,-0.029394,0.007206,-0.033237,-0.034322,0.073961,0.062704,...,-0.038250,-0.049258,-0.055014,-0.035608,0.072822,0.077947,0.064476,-0.064476,0.027457,-0.027457
EducationField_Marketing,0.036665,0.088999,-0.043271,-0.000348,0.029041,-0.027108,0.025763,0.013245,-0.004255,0.019114,...,0.370042,0.198130,0.057496,-0.048858,-0.010378,0.040289,0.080224,-0.080224,-0.016768,0.016768
EducationField_Medical,0.069764,-0.117833,0.023401,0.069263,0.045214,0.010604,0.059246,0.040163,-0.023109,-0.037460,...,-0.147277,-0.093349,0.041331,-0.000426,-0.019355,-0.078960,-0.032310,0.032310,0.054144,-0.054144
EducationField_Other,-0.017710,0.072455,0.075750,-0.032205,-0.032314,-0.050219,-0.039444,0.006812,-0.100698,-0.077164,...,-0.059650,-0.057659,-0.015411,0.025198,-0.007153,-0.025125,-0.104017,0.104017,0.004275,-0.004275
EducationField_Technical Degree,-0.078360,0.018248,-0.077323,-0.045780,-0.034910,0.060854,-0.047095,-0.087075,-0.030144,-0.003512,...,0.007207,0.118918,-0.032866,0.080415,-0.051552,-0.027143,-0.052395,0.052395,-0.129104,0.129104
Gender_Female,-0.010663,-0.045365,-0.036711,-0.067207,0.070026,-0.084429,0.090454,0.063794,-0.030331,-0.008915,...,0.020512,0.009148,-0.125142,0.056483,0.046371,0.040429,-0.123398,0.123398,-0.028839,0.028839
Gender_Male,0.010663,0.045365,0.036711,0.067207,-0.070026,0.084429,-0.090454,-0.063794,0.030331,0.008915,...,-0.020512,-0.009148,0.125142,-0.056483,-0.046371,-0.040429,0.123398,-0.123398,0.028839,-0.028839
JobRole_Healthcare Representative,0.122278,0.088247,-0.037427,0.006799,0.085338,0.015651,0.031230,0.082796,0.021565,-0.010675,...,-0.174447,-0.086066,0.007805,0.020036,-0.039083,0.037503,0.013178,-0.013178,0.103274,-0.103274
JobRole_Human Resources,-0.032488,-0.006078,-0.006416,0.012627,-0.068376,-0.038009,-0.065587,0.049565,-0.001132,-0.068626,...,-0.074763,-0.036886,0.086969,0.008587,-0.088535,-0.016073,-0.075034,0.075034,-0.032714,0.032714
JobRole_Laboratory Technician,-0.116831,-0.016711,0.022702,0.019164,-0.362990,-0.036269,-0.338865,-0.013963,-0.029851,0.024657,...,-0.234747,-0.115816,0.061449,-0.006573,-0.053714,0.009792,0.029076,-0.029076,-0.125264,0.125264
JobRole_Manager,0.235267,-0.075939,0.040536,-0.011170,0.476576,-0.004399,0.548221,0.097477,0.069544,0.081192,...,-0.137986,-0.068078,-0.053188,0.056485,-0.004869,-0.029665,0.021878,-0.021878,0.089885,-0.089885
JobRole_Manufacturing Director,0.051416,-0.043489,0.004762,-0.063988,0.102940,0.049268,0.035150,0.023986,0.031204,0.023506,...,-0.179253,-0.088438,-0.020623,0.004248,0.024497,-0.038536,0.004329,-0.004329,0.042404,-0.042404
JobRole_Research Director,0.196527,0.007268,-0.049435,0.015918,0.499024,-0.064142,0.569730,0.102224,-0.031326,-0.039167,...,-0.164583,-0.081200,-0.013091,0.018903,-0.019314,0.043245,-0.007302,0.007302,0.116263,-0.116263
JobRole_Research Scientist,-0.124101,0.028616,0.116724,0.036236,-0.394747,0.028980,-0.359161,-0.116474,0.031534,0.031607,...,-0.241033,-0.118918,-0.012325,0.001318,0.008449,0.007403,-0.093270,0.093270,-0.007977,0.007977
JobRole_Sales Executive,-0.034695,0.079862,-0.065868,-0.015806,0.086838,0.060764,0.017301,-0.030758,-0.069628,-0.064313,...,1.000000,-0.135126,0.019378,-0.017314,0.001835,-0.004108,0.041311,-0.041311,0.003115,-0.003115
JobRole_Sales Representative,-0.235906,-0.136711,-0.045226,-0.001756,-0.239694,-0.072162,-0.220020,-0.125213,0.015341,0.008269,...,-0.135126,1.000000,-0.072548,-0.077599,0.162900,-0.029050,0.039372,-0.039372,-0.191294,0.191294
MaritalStatus_Divorced,-0.003372,0.053575,0.011568,-0.045850,-0.018765,0.065125,-0.026641,0.014955,-0.050824,-0.044992,...,0.019378,-0.072548,1.000000,-0.529188,-0.348266,-0.063224,0.022216,-0.022216,0.107869,-0.107869
MaritalStatus_Married,0.089516,-0.042435,0.009449,0.103672,0.051072,-0.037764,0.054325,0.014693,0.034205,-0.041708,...,-0.017314,-0.077599,-0.529188,1.000000,-0.583611,-0.105949,0.014597,-0.014597,0.094734,-0.094734
MaritalStatus_Single,-0.108957,0.009925,-0.014669,-0.061005,-0.054877,-0.013220,-0.050525,-0.036476,0.001909,0.074205,...,0.001835,0.162900,-0.348266,-0.583611,1.000000,-0.069727,-0.041718,0.041718,-0.205849,0.205849
MaritalStatus_nan,0.049951,-0.055316,-0.027792,-0.043604,0.063869,-0.027419,0.061996,0.023510,0.034018,0.061254,...,-0.004108,-0.029050,-0.063224,-0.105949,-0.069727,1.000000,0.017156,-0.017156,-0.010609,0.010609
OverTime_No,0.055057,0.029049,-0.069882,-0.005414,0.032124,0.030091,0.032385,0.006881,0.047851,0.044314,...,0.041311,0.039372,0.022216,0.014597,-0.041718,0.017156,1.000000,-1.000000,0.324777,-0.324777
OverTime_Yes,-0.055057,-0.029049,0.069882,0.005414,-0.032124,-0.030091,-0.032385,-0.006881,-0.047851,-0.044314,...,-0.041311,-0.039372,-0.022216,-0.014597,0.041718,-0.017156,-1.000000,1.000000,-0.324777,0.324777
Attrition_No,0.212121,0.055531,0.124327,0.166785,0.214266,0.164957,0.194936,0.009082,0.060880,0.006471,...,0.003115,-0.191294,0.107869,0.094734,-0.205849,-0.010609,0.324777,-0.324777,1.000000,-1.000000
Attrition_Yes,-0.212121,-0.055531,-0.124327,-0.166785,-0.214266,-0.164957,-0.194936,-0.009082,-0.060880,-0.006471,...,-0.003115,0.191294,-0.107869,-0.094734,0.205849,0.010609,-0.324777,0.324777,-1.000000,1.000000

PREGUNTA 15
15. Selecciona solo aquellas variables que tengan una correlación mayor o igual a 0.1, dejándolas en otro frame llamado **EmpleadosAttritionFinal**. No olvides mantener la variable de salida **Attrition**; esto es equivalente a borrar las que no cumplen con el límite.

In [46]:
EmpleadosAttritionFinal = EmpleadosAttrition.loc[:, (EmpleadosAttrition.corr()['Attrition_No'].abs() >= 0.1) | (EmpleadosAttrition.corr()['Attrition_Yes'].abs() >= 0.1)]
EmpleadosAttritionFinal

,Age,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,TotalWorkingYears,YearsInCurrentRole,MonthlyIncome_minmax,BusinessTravel_Non-Travel,...,JobRole_Healthcare Representative,JobRole_Laboratory Technician,JobRole_Research Director,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Single,OverTime_No,OverTime_Yes,Attrition_No,Attrition_Yes
0,50,4,3,4,4,0.864269,32,4,0.864269,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,36,2,3,2,2,0.207340,7,2,0.207340,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
2,21,2,3,1,2,0.088062,1,0,0.088062,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0
3,52,2,3,3,2,0.497574,18,6,0.497574,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
4,33,2,3,3,3,0.664470,15,6,0.664470,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,3,3,1,4,0.075248,8,4,0.075248,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
396,31,2,1,2,3,0.187197,4,2,0.187197,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
397,37,2,3,3,4,0.589327,10,8,0.589327,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
398,38,4,3,1,3,0.121124,7,0,0.121124,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
399,33,4,3,1,2,0.092122,8,7,0.092122,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

PREGUNTA 16
16. Crea una nueva variable llamada **EmpleadosAttritionPCA** formada por los componentes principales del frame **EmpleadosAttritionFinal**. Recuerda que el resultado del proceso PCA es un numpy array, por lo que, para hacer referencia a una columna, por ejemplo, la 0, puedes usar la instrucción **EmpleadosAttritionPCA[:,0]**).

In [48]:
from sklearn.decomposition import PCA
pca = PCA()
principalComponents = pca.fit(EmpleadosAttritionFinal)

PCA()

In [49]:
print(pca.components_)

[[ 7.57140224e-01 -2.15876246e-03  6.36205974e-04  6.94356734e-02
   9.22065128e-05  1.55105465e-02  6.38643605e-01  1.15026281e-01
   1.55105465e-02 -1.70065788e-03 -1.50510887e-03  3.53557619e-03
  -6.49066928e-03  8.12148258e-03 -6.04246392e-03 -1.24576072e-04
  -4.74954076e-03  2.00610871e-03 -2.00610871e-03  8.41317819e-03
  -8.41317819e-03]
 [-6.25859732e-01 -6.66544313e-03 -1.07108202e-02  8.13785032e-02
   2.39473138e-03  1.85783305e-02  6.58225964e-01  4.09003811e-01
   1.85783305e-02  1.64517911e-03  2.03936632e-03 -1.17715850e-03
  -9.74170419e-03  1.16947358e-02 -1.69139017e-03  8.32997684e-04
  -5.56858426e-04 -2.07599877e-03  2.07599877e-03  3.46418397e-03
  -3.46418397e-03]
 [ 1.86339729e-01  7.24920904e-03  5.18638675e-03 -1.71830157e-02
   3.20142032e-02 -5.66177174e-03 -3.82110260e-01  9.03807621e-01
  -5.66177174e-03  9.06540104e-04  4.90182461e-03 -1.99500639e-03
   2.53786293e-03 -1.16177555e-05 -5.61538456e-03  7.52599774e-03
  -1.64465197e-02  3.21331121e-03 -3.21331121e-03  1.61667887e-02
  -1.61667887e-02]
 [-2.63631667e-03 -4.57570481e-01 -3.44117882e-02  5.25799332e-02
   8.82440767e-01  6.57986809e-03 -8.17079935e-04 -2.79428222e-02
   6.57986809e-03  1.95862086e-02  1.69035854e-02  1.01155379e-02
  -1.83135026e-02 -8.29096625e-03 -8.60336653e-03  2.28895553e-02
  -6.83551340e-04  3.73949948e-02 -3.73949948e-02  3.55860262e-02
  -3.55860262e-02]
 [-6.79578390e-03  8.82211303e-01  9.90217723e-03 -3.34589472e-02
   4.54280234e-01 -8.55174917e-03  1.65106560e-02 -1.85858759e-02
  -8.55174917e-03  3.69549510e-03 -1.07274551e-02 -5.28034798e-03
   3.17798479e-04 -1.87649631e-02 -1.81205095e-02  1.98096971e-02
  -1.24316264e-02 -1.92434687e-02  1.92434687e-02  7.47658396e-02
  -7.47658396e-02]
 [-1.45887936e-03  4.50388148e-02  2.22772270e-01  8.88345612e-01
  -3.92846575e-02  1.90997821e-01 -1.05600343e-01 -2.85829774e-02
   1.90997821e-01  2.25411069e-02 -1.14939528e-02  6.93108818e-03
  -1.62596342e-01  1.37828608e-01 -2.31139001e-02 -2.58921850e-02
   3.45064757e-03  5.39870622e-02 -5.39870622e-02  9.88524412e-02
  -9.88524412e-02]
 [-1.14822483e-02 -4.88868743e-02  9.28265873e-01 -2.32567167e-01
   7.70803653e-03 -5.47533199e-02  3.59606191e-02 -3.37175821e-04
  -5.47533199e-02 -4.34127045e-02 -1.78623861e-02  8.25792412e-03
   4.97371104e-02 -2.58025678e-02  2.01315843e-05  3.80952230e-04
  -8.33626962e-02  8.72716677e-02 -8.72716677e-02  1.52923217e-01
  -1.52923217e-01]
 [-6.93792811e-03  1.32324171e-02 -2.34445263e-01 -6.64270588e-02
  -7.59762836e-02 -1.28528839e-02  6.77176288e-03 -1.02570974e-02
  -1.28528839e-02  6.21798457e-02 -2.99073675e-02  1.44458374e-02
   3.23408434e-02 -1.78050934e-02  9.72017108e-04  9.28947693e-02
  -1.06108681e-01  6.12483534e-01 -6.12483534e-01  2.80759476e-01
  -2.80759476e-01]
 [ 5.37279409e-03  4.00573932e-02  7.42286225e-02 -2.94059069e-02
   3.98023464e-02 -3.31770738e-03  2.08547879e-03  1.97897481e-02
  -3.31770738e-03 -3.91991516e-02  1.26738725e-03 -3.07810703e-02
  -5.67266737e-02 -9.43182610e-03  9.37582896e-02 -6.10190414e-01
   6.83228699e-01  2.00503418e-01 -2.00503418e-01 -1.67136971e-01
   1.67136971e-01]
 [-3.49254230e-03 -7.00100594e-02 -1.36334548e-01 -1.05264417e-01
  -5.99359671e-02 -2.99843481e-02  3.16360297e-03 -8.09556413e-03
  -2.99843481e-02  6.79133561e-02 -5.04105414e-02  1.45533452e-01
  -2.74172039e-01 -1.65521488e-02 -2.58877759e-02 -2.63147578e-01
   1.94968448e-01 -2.53247206e-01  2.53247206e-01  5.56766185e-01
  -5.56766185e-01]
 [-4.34848873e-05 -2.26163627e-02 -8.79223907e-03  7.33813355e-02
  -8.49162422e-03  3.63398449e-02 -3.93234781e-03 -2.86152423e-03
   3.63398449e-02  3.12957978e-01 -1.40020693e-01 -2.99762319e-01
   7.75330539e-01  1.41207470e-01 -1.84826700e-01  6.13620771e-02
   2.71364413e-01 -7.67910509e-02  7.67910509e-02  1.40442026e-01
  -1.40442026e-01]
 [ 3.61475476e-03  1.89575650e-03  6.03151075e-02 -3.34311646e-02
  -1.88390412e-02 -1.70715305e-02  2.19583504e-03  6.53787711e-03
  -1.70715305e-02  9.28685193e-02 -6.55558433e-02  5.30981947e-02
  -2.60090244e-01 -2.62676516e-02  1.05221961e-01  7.28249229e-01
   6.07090979e-01  7.71720609e-03 -7.71720609e-03 -5.77896635e-03
   5.77896635e-03]
 [-2.73235390e-03  1.24192820e-02  2.63923686e-02  1.07391298e-01
  -8.23846405e-03 -4.83877358e-02 -3.57980338e-03  3.30395136e-03
  -4.83877358e-02  2.41290423e-01  7.63156494e-03  8.31148721e-01
   2.49711469e-01 -3.46836959e-01 -2.00192607e-01 -1.90772363e-02
   3.94925429e-02  1.12531986e-02 -1.12531986e-02 -6.64881494e-02
   6.64881494e-02]
 [ 3.40934277e-03  1.14919929e-02  5.75908695e-02 -4.52826204e-02
  -3.21820878e-03 -1.24242642e-02  5.70523722e-03  1.79065874e-03
  -1.24242642e-02  8.96103938e-01  4.73881561e-02 -1.80201662e-01
  -2.66963958e-01 -8.39743836e-02  1.73568963e-01 -1.03970959e-01
  -1.50434820e-01  5.31323492e-03 -5.31323492e-03 -8.50558968e-02
   8.50558968e-02]
 [ 1.17187611e-03  1.64177293e-02  1.39416829e-03 -1.42673359e-01
   1.84013360e-02  6.42845619e-02  2.10961782e-03 -5.72343915e-04
   6.42845619e-02  1.07742023e-01  1.73558189e-01  3.84005056e-01
   5.93265537e-02  8.49120083e-01  2.36790201e-01 -5.13663586e-04
  -1.39927975e-02  6.97103745e-03 -6.97103745e-03 -1.85064661e-02
   1.85064661e-02]
 [ 1.91241302e-03  6.25142244e-03 -6.68730125e-03  9.55347288e-02
  -1.60725477e-02 -2.21933221e-02 -1.18472838e-03 -3.77121138e-03
  -2.21933221e-02 -5.69030533e-02  7.99801279e-01 -5.30160900e-02
   2.25165861e-01 -2.48136028e-01  4.50837095e-01  4.55062763e-02
   5.96002672e-02 -2.96482060e-02  2.96482060e-02  1.02199767e-01
  -1.02199767e-01]
 [ 1.44190749e-03 -3.92050399e-03 -1.93988122e-02  7.31345348e-02
   1.54420045e-02  2.07878208e-03 -2.65442436e-03  5.28512740e-03
   2.07878208e-03 -6.74515723e-02 -5.47137468e-01  9.76483689e-02
   1.85806885e-01 -1.43289178e-01  7.84068327e-01 -2.69400198e-02
  -7.96165941e-02 -3.40194213e-02  3.40194213e-02  2.58150613e-02
  -2.58150613e-02]
 [ 4.61305485e-04 -2.43329861e-03  7.59589295e-03 -2.64303701e-01
   2.19771022e-03  6.70801983e-01 -2.83604816e-03  1.83523329e-03
   6.70801983e-01  1.34101036e-03  1.75812964e-02  4.04482197e-02
   4.69948177e-03 -1.67178512e-01 -2.84090074e-03  8.01999664e-03
   6.48012809e-03 -3.69197835e-03  3.69197835e-03  5.17379671e-03
  -5.17379671e-03]
 [ 1.32560708e-17 -1.05194342e-16 -1.01218063e-16 -1.93731803e-15
   1.65013308e-17 -3.12358618e-02 -5.40895642e-17  2.14906236e-17
   3.12358618e-02  8.47326035e-17  3.65646605e-16  5.40458711e-16
   4.36600005e-17 -1.09236757e-15  4.21056807e-16  1.23584884e-17
  -1.96258516e-16 -3.09272567e-02 -3.09272567e-02  7.05739205e-01
   7.05739205e-01]
 [ 1.45778887e-17 -7.84453230e-17  2.16418187e-16  5.37309821e-16
   3.62143721e-18 -8.06603586e-02 -7.09736899e-17  7.89271165e-18
   8.06603586e-02  4.17227644e-17 -4.64950152e-16  2.69378383e-16
   1.79646198e-16 -5.07720193e-16  5.97414361e-16  7.54974061e-17
   8.28279975e-17  7.01964750e-01  7.01964750e-01  2.71918409e-02
   2.71918409e-02]
 [ 3.00517808e-18  1.16261507e-16 -1.28717445e-16 -1.09233039e-15
   1.30169413e-16 -7.01796429e-01 -2.58980084e-18  2.01742677e-17
   7.01796429e-01 -6.21384289e-16 -5.71552260e-16  4.30759445e-16
   2.07698957e-16 -4.53577925e-16  5.01905136e-16  8.83339615e-17
   4.63700081e-16 -7.93031806e-02 -7.93031806e-02 -3.45366190e-02
  -3.45366190e-02]]

In [50]:
print(pca.explained_variance_)

[1.13935170e+02 2.83558943e+01 9.84572408e+00 1.25928188e+00
 1.24952675e+00 6.09318360e-01 5.53658069e-01 4.39800594e-01
 2.63681623e-01 1.72839385e-01 1.26960973e-01 1.23086794e-01
 8.89545752e-02 7.89166855e-02 5.53495317e-02 5.06933052e-02
 4.20916476e-02 9.48423615e-03 1.39568401e-16 6.50382446e-17
 0.00000000e+00]

In [51]:
print(pca.explained_variance_ratio_)

[7.24499914e-01 1.80311690e-01 6.26077641e-02 8.00762057e-03
 7.94558894e-03 3.87458148e-03 3.52064445e-03 2.79663858e-03
 1.67671943e-03 1.09906467e-03 8.07329412e-04 7.82693980e-04
 5.65651344e-04 5.01821622e-04 3.51960953e-04 3.22352574e-04
 2.67655677e-04 6.03091063e-05 8.87498520e-19 4.13570302e-19
 0.00000000e+00]

In [52]:
EmpleadosAttritionPCA = pca.transform(EmpleadosAttritionFinal)
EmpleadosAttritionPCA

array([[ 2.18167381e+01,  5.63942746e+00, -5.81946041e+00, ...,
         2.22044605e-16, -8.88178420e-16,  5.41233725e-16],
       [-5.14260611e+00, -3.06251262e+00, -7.19785759e-01, ...,
        -4.44089210e-16,  2.22044605e-16, -4.99600361e-16],
       [-2.06622533e+01,  1.46219984e+00, -3.07322318e+00, ...,
         4.44089210e-16,  7.77156117e-16,  8.18789481e-16],
       ...,
       [-1.69379838e+00,  8.56536464e-01,  3.77915062e+00, ...,
         5.55111512e-16,  2.22044605e-16, -1.80411242e-16],
       [-3.94107982e+00, -5.23833257e+00, -2.09503777e+00, ...,
         3.33066907e-16, -3.33066907e-16,  6.38378239e-16],
       [-6.27745459e+00,  1.41848808e+00,  2.88358301e+00, ...,
         0.00000000e+00, -5.55111512e-16,  2.77555756e-16]])

In [53]:
EmpleadosAttritionPCA[:,0]

array([ 2.18167381e+01, -5.14260611e+00, -2.06622533e+01,  1.45341719e+01,
       -1.78177829e+00,  1.77041372e+01, -1.76634163e+01, -7.07593668e+00,
        4.10696390e+00, -1.13280424e+01, -1.78305949e+00,  1.95364705e+01,
       -8.78898950e+00,  1.94956419e+00,  1.50192074e+01, -1.01612021e+00,
       -7.77619451e+00,  1.11046000e+00,  7.74516516e+00,  1.87267379e+01,
       -5.91360954e+00,  7.32106792e+00, -6.90681104e+00, -1.91510618e+01,
        7.90190430e+00,  1.47081879e-01, -2.14243203e+01, -1.09301261e+01,
        1.27370542e+01,  3.51137378e+00, -7.91507731e+00,  2.94213933e-01,
        1.72149298e+01, -5.56849945e+00, -3.29984453e+00,  1.48162242e+01,
        3.54404904e+00,  2.54147696e+01, -4.90483152e+00, -9.46261358e-01,
        1.26240872e+01, -5.76808045e+00,  8.90635554e+00, -7.70857139e+00,
       -5.17983835e+00,  1.46293864e+01, -1.71167721e+00,  3.37974339e+00,
        2.87522308e+00, -6.37881319e+00, -6.21090383e+00,  7.02700033e+00,
        1.04823339e+01, -1.02225522e+01,  1.54102232e+00, -1.09188525e+01,
       -2.33774190e+00, -8.42965253e+00,  1.45078608e+01,  4.36190854e+00,
        5.08076325e+00, -4.73322643e+00,  1.93435208e+00, -1.32369849e+01,
        6.03228073e+00, -3.87308652e+00,  1.92234948e+00, -4.43996271e+00,
        1.87436344e+00, -6.32767488e+00,  4.86462594e+00, -5.56710859e+00,
        1.23224888e+00, -1.98821563e+00, -1.02760998e+01, -2.21821413e+01,
       -9.64215809e+00,  2.68831743e+00,  3.04462291e+00, -1.46061597e+01,
       -7.61831449e+00,  9.43273479e+00, -5.69060753e+00, -1.39406449e+00,
       -1.99075345e+01, -9.34278825e+00,  1.40765627e+01,  7.29563224e+00,
       -6.13378853e+00,  9.92662762e+00, -1.38667510e+00, -4.65916561e+00,
        3.68658983e+00, -4.74047846e+00, -6.94897007e+00, -4.00857898e+00,
       -7.74822359e+00,  3.62047249e+00, -2.68683793e+00, -4.52118444e+00,
       -7.04514025e+00, -9.77794108e+00, -5.38384830e+00, -1.87893897e+00,
        4.79417024e+00,  1.32979707e+01,  3.25731582e-01, -9.99817685e+00,
        2.52921986e+01, -1.17199164e+01, -1.38504208e+01, -9.76855940e+00,
        2.84030020e+01, -1.01547416e+00,  1.38128503e+01,  7.02757894e+00,
       -3.04011181e+00, -3.19676081e+00,  1.71850005e+01,  1.53951701e+01,
        2.66489661e+01, -3.47842601e+00, -1.91490872e+01,  1.04756711e+01,
       -5.51882634e+00, -4.58000930e+00, -6.89318860e+00,  6.37443045e+00,
        1.61384732e+01, -6.05269627e+00, -5.43888348e+00,  1.30900236e+01,
       -7.02831517e+00, -1.02180659e+00, -5.73588521e+00,  1.07638131e+01,
        1.49428907e+01,  8.75179033e+00,  2.46080782e+00,  2.94527576e+01,
        6.38342376e+00, -5.64222668e-01,  2.05418743e+01,  2.56044566e+01,
       -1.18277254e+00,  1.91491308e+01, -4.15470963e+00,  1.82902813e+00,
       -1.91375575e+01, -7.53321904e+00, -4.72643348e+00,  1.33992327e+01,
        4.23164984e+00,  6.18780855e+00,  1.89234509e+00, -1.83763316e+01,
       -8.07069707e+00,  3.35113635e+00, -6.37299599e+00, -3.18053405e+00,
        2.56878569e+01,  7.83451259e+00,  1.68744584e+00, -9.97007742e+00,
       -7.31012078e+00, -4.04932502e+00,  1.92202417e+01, -1.22497713e+01,
       -8.39367412e-01,  2.52946214e+01,  1.28568677e+01, -7.26665046e+00,
        1.49210331e+01,  1.24032770e+01, -1.29554059e+01,  3.10083815e+00,
        8.24987374e+00,  1.05789372e+01, -1.15708199e+01,  1.43636649e+01,
       -8.89659858e+00,  1.19436232e+01, -3.24239223e+00, -2.46922557e+00,
        1.59247961e+01, -7.60568924e+00,  1.62044768e+01, -2.21563412e+01,
       -6.20326928e+00,  1.00382255e+00, -6.44708414e+00,  7.46696204e+00,
        1.20998556e+01, -8.02568221e+00,  1.13482171e+01, -7.27010249e-01,
       -3.26169725e+00,  1.80885865e+01,  1.76569942e+01, -5.23245318e+00,
        2.51362038e+00, -7.02077151e+00,  2.30356391e+00, -7.19576579e+00,
       -1.15924577e+01, -1.14215154e+01, -1.55113601e+01,  4.09951891e+00,
        4.54732218e+00, -7.55227087e+00, -7.09420396e+00,  2.71872847e+01,
       -2.56178249e+00, -1.33313098e+01, -1.38450268e+01,  1.48544556e+01,
        1.81207547e+00,  4.81640638e+00,  4.49756353e+00, -1.45851211e+01,
        5.66401444e+00, -1.09597716e+01,  1.02340380e+01,  1.54374384e+01,
       -2.14282192e+01, -4.32967556e+00,  5.56454257e-01, -1.24516252e+01,
        9.03207892e-01, -4.38646461e+00, -6.50291912e+00, -3.22010004e+00,
       -4.10083505e-02,  1.11513641e+01,  1.80560145e+00, -1.90474172e+00,
       -2.57545746e+00,  5.06628861e+00, -8.13713427e+00,  2.95439710e+00,
       -1.01036371e+01, -1.28410569e-01, -1.09263095e+01, -4.29221118e+00,
        1.23928965e+01,  8.07362307e+00,  2.93634115e+01,  9.43683582e+00,
        2.52591468e-01, -2.99552241e+00, -1.37375752e+01,  7.91088276e+00,
       -7.93289807e+00, -5.62109428e+00,  1.99505167e+01,  6.48653812e+00,
       -2.05382005e+01, -6.75454649e+00, -8.14129600e+00,  3.35940634e+00,
        2.15791595e+01, -1.26775676e+01,  7.26903256e-01,  2.64587112e+01,
        1.09129420e+00,  1.77050511e+00,  9.78901451e+00, -1.91269615e+01,
        1.03135985e+01, -1.30661865e+01,  1.98569871e+01,  9.31313119e+00,
       -7.18701998e+00, -8.77394880e+00,  9.12729895e+00, -1.33162395e+01,
       -2.07963004e+00,  1.83413186e+00, -1.14438835e+01,  1.82103913e+00,
       -2.19732392e+00, -1.37489353e+00, -2.65310861e+00,  2.39754824e+00,
        2.26865143e+01,  1.76411308e+01, -8.09774265e-01, -9.33519581e+00,
        6.91065721e+00,  8.62402602e+00, -6.32460048e+00, -7.08898153e+00,
       -1.38714991e+01,  7.08962913e+00, -2.14225384e+01,  3.46001137e+00,
       -2.21800133e+01, -1.15590497e+01, -1.31955754e+01, -2.77541971e-01,
       -2.42623068e+00,  9.91065286e+00,  1.74922029e+01,  7.02515086e+00,
       -1.38311906e+01, -3.00460990e+00,  1.03276610e+00, -1.77375473e+01,
       -1.91597343e+01,  9.46483145e-01,  1.31809905e+01, -1.08389008e+01,
        2.07766943e+00,  5.93638200e-03,  3.11858738e+00,  7.56178086e+00,
        2.14856801e-01, -2.19402478e+00,  4.35545878e+00,  6.22716106e+00,
       -4.04561358e+00, -5.59897561e+00,  1.42424509e+01,  5.99047929e-02,
       -8.54036302e+00, -7.57171155e+00, -4.75825034e+00, -1.13823426e+01,
       -1.66943182e+00,  7.63521899e+00, -8.93537969e+00, -7.20531435e+00,
       -1.07995249e+01, -3.16605902e+00, -1.37199264e+01,  1.41597466e+01,
        2.48011438e+00, -9.54551696e-01, -9.53531748e+00,  2.24529448e+01,
       -3.59534120e+00,  1.47488096e+00,  2.63635749e-01,  1.66480703e+00,
        3.13128965e+00, -5.11767100e-01,  1.58688896e+01, -2.35778007e+01,
       -7.00622213e+00, -5.03753977e+00, -1.04032077e+01, -6.50442115e-01,
        2.77012323e+01, -6.67306601e+00, -3.60466332e+00, -1.00330982e+01,
        4.05679114e-01,  2.34089714e+00,  7.73437729e+00,  8.43189827e+00,
       -5.46227963e+00,  1.02427067e+01,  1.82129467e+00, -1.45884899e+01,
       -1.48550388e+01,  5.96587099e+00, -8.66342827e+00,  1.12749657e+01,
        9.29100291e+00, -7.03529062e+00,  7.10427252e+00,  3.08912264e-01,
       -8.58688223e+00, -8.28125129e+00, -3.10596138e+00,  2.15053430e+00,
       -1.32167925e+01, -1.11755865e+01,  1.23150460e+01, -1.63327957e+01,
        3.08129513e-01, -8.05232381e+00, -1.09327496e+01,  7.52888962e+00,
       -7.38171094e+00, -2.63391277e+00, -5.70054505e+00, -2.42543841e+00,
       -8.05588091e+00,  2.63491668e+00, -6.02296688e+00, -9.64505519e+00,
        8.23540193e+00,  1.23132430e+01, -9.76707778e+00, -6.64804295e+00,
       -1.08667571e+01, -1.69379838e+00, -3.94107982e+00, -6.27745459e+00])

PREGUNTA 17
17. Agrega el mínimo número de Componentes Principales en columnas del frame **EmpleadosAttritionPCA** que logren explicar el 80% de la varianza, al frame **EmpleadosAttritionFinal**. Puedes usar la instrucción assign, columna por columna, llamando a cada una **C0**, **C1**, etc., hasta las que vayas a agregar.

In [ ]:
#La valor C0 es casi 80% de radio de varianza (72.4%)

In [60]:
EmpleadosAttritionFinal = EmpleadosAttritionFinal.assign(C0 = EmpleadosAttritionFinal['Age'])
EmpleadosAttritionFinal

,Age,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,TotalWorkingYears,YearsInCurrentRole,MonthlyIncome_minmax,BusinessTravel_Non-Travel,...,JobRole_Laboratory Technician,JobRole_Research Director,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Single,OverTime_No,OverTime_Yes,Attrition_No,Attrition_Yes,C0
0,50,4,3,4,4,0.864269,32,4,0.864269,0.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,50
1,36,2,3,2,2,0.207340,7,2,0.207340,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,36
2,21,2,3,1,2,0.088062,1,0,0.088062,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,21
3,52,2,3,3,2,0.497574,18,6,0.497574,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,52
4,33,2,3,3,3,0.664470,15,6,0.664470,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,3,3,1,4,0.075248,8,4,0.075248,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,33
396,31,2,1,2,3,0.187197,4,2,0.187197,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,31
397,37,2,3,3,4,0.589327,10,8,0.589327,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,37
398,38,4,3,1,3,0.121124,7,0,0.121124,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,38
399,33,4,3,1,2,0.092122,8,7,0.092122,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,33

PREGUNTA 19
19. Guarda el set de datos que has formado y que tienes en **EmpleadosAttritionFinal** en un archivo CSV llamado **EmpleadosAttritionFinal**.csv. Las últimas columnas que colocaste quedarán después de la variable Attrition, lo cual no importa, pero si gustas lo puedes arreglar antes de escribir el archivo.

In [61]:
EmpleadosAttritionFinal.to_csv('EmpleadosAttritionFinal.csv', index=False)